.attribution { font-size: 11px; text-align: center; color: hsl(0, 0%, 100%);}
.attribution a { color: hsl(228, 45%, 44%); }

html, body {
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 12%);
    width: 382px;
    height: 612px;
}
